<div id="<%= dom_id song %>">
  <p>
    <strong>Name:</strong>
    <%= song.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= song.duration %>
  </p>

  <p>
    <strong>Lyrics:</strong>
    <%= song.lyrics %>
  </p>

  <p>
    <strong>Media url:</strong>
    <%= song.media_url %>
  </p>

</div>
