<div id="<%= dom_id album %>">
  <p>
    <strong>Name:</strong>
    <%= album.name %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= album.release_date %>
  </p>

  <p>
    <strong>Album cover:</strong>
    <%= album.album_cover %>
  </p>

  <p>
    <strong>Copyright:</strong>
    <%= album.copyright %>
  </p>

  <p>
    <strong>Artist Id:</strong>
    <%= album.artists_id %>
  </p>
</div>
