<div id="<%= dom_id playlist %>">
  <p>
    <strong>Name:</strong>
    <%= playlist.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= playlist.duration %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= playlist.genre %>
  </p>

  <p>
    <strong>Media url:</strong>
    <%= playlist.media_url %>
  </p>

</div>
